@(cartForm:Form[ShoppingItem])

@main("Welcome"){
	@helper.form(action= routes.Application.formAction,args = 'id ->"cartForm"){
		@helper.inputText(
			field=cartForm("id"),
			args = '_label->"Please enter ID",'placeholder->"ID"
		)
		@helper.inputText(
			field=cartForm("productname"),
			args = '_label->"Please enter productname",'placeholder->"produtcname"
		)
		@helper.inputText(
			field=cartForm("Quantity"),
			args = '_label->"Please enter Quantity",'placeholder->"Quantity"
		)
		<button type="submit" name="action" value="add">Add</button>
        <button type="submit" name="action" value="delete">Delete</button>
        <button type="submit" name="action" value="list">List</button>
        
	}
}