@(cartForm:Form[ShoppingItem])

@main("Welcome"){
	@helper.form(action= routes.Application.addToCache,args = 'id ->"cartForm"){
		@helper.inputText(
			field=cartForm("id"),
			args = '_label->"Please enter ID",'placeholder->"ID"
		)
		@helper.inputText(
			field=cartForm("productname"),
			args = '_label->"Please enter productname",'placeholder->"produtcname"
		)
		@helper.inputText(
			field=cartForm("Quantity"),
			args = '_label->"Please enter productname",'placeholder->"Quantity"
		)
		<button type="submit" name="action" value="default cache">Add to cache</button>
        <button type="submit" name="action" value="session cache">Add to session cache</button>
	}
	<p class="button">
    	<a href="@routes.Application.list">list</a>
    </p>
}